        * {
            padding: 0;
            margin: 0;
        }
        
        .game {
            width: 380px;
            height: 500px;
            border: 1px solid black;
            margin: auto;
            background-color: rgb(68, 222, 228);
        }
        
        .timer {
            color: blue;
            font-size: 30px;
            font-weight: bold;
            position: relative;
            top: -100px;
            left: 200px;
        }
        
        #character {
            width: 40px;
            height: 40px;
            background-image: url(one.png);
            position: relative;
            top: 380px;
            left: 190px;
        }
        
        .projectile-block {
            width: 45px;
            height: 45px;
            background-image: url(wheel-two.png);
            position: relative;
            top: 430px;
            left: auto;
            float: left;
        }
        
        @keyframes block-one {
            0% {
                top: -430px;
            }
            100% {
                top: -60px;
            }
        }
        
        #der {
            width: 64px;
            height: 64px;
            background-image: url(der.png);
            position: relative;
            top: 30px;
            left: 100px;
            animation: der 3500ms infinite linear;
        }
        
        @keyframes der {
            0% {
                left: 0px;
                transform: translateX(100%) rotate(180deg);
            }
            100% {
                left: 250px;
                transform: translateX(100%) rotate(180deg);
            }
        }